<?xml version="1.0" encoding="UTF-8"?>
<kml xmlns="http://www.opengis.net/kml/2.2" xmlns:atom="http://www.w3.org/2005/Atom">
	<Document>
		<name>Localizaciones de {{ title }}</name>
		<atom:author>
			<atom:name>{{ title }}</atom:name>
		</atom:author>
		<atom:link rel="related" href="{{ hostname }}" />
		<Folder>
                    {% for placemark in placemarks %}
			<Placemark>
				<name><![CDATA[{{ placemark.title }}]]></name>
				<address><![CDATA[{{ placemark.address }}]]></address>
				<description><![CDATA[{{ placemark.description }}]]></description>
				<Point>
					<coordinates>{{ placemark.coordinates }}</coordinates>
				</Point>
			</Placemark>                    
                    {% endfor %}
		</Folder>
	</Document>
</kml>
