{% if app.environment == 'prod' and sc_project != ''%}    
    <!-- Start of StatCounter Code for Default Guide -->
    <script type="text/javascript">
        var sc_project = {{ sc_project }};
        var sc_invisible = 1;
        var sc_security = "{{ sc_security }}";
        var scJsHost = (("https:" == document.location.protocol) ?
                "https://secure." : "http://www.");
        document.write("<sc" + "ript type='text/javascript' src='" +
                scJsHost +
                "statcounter.com/counter/counter.js'></" + "script>");
    </script>
    <!-- End of StatCounter Code for Default Guide -->

{% endif %}
