<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0">
<channel>
    <title>{{ title }}</title>
    <link>{{ hostname }}</link>
    <language>es-CL</language>
    <description>{{ description }}</description>
    <generator>{{generator }}</generator>
    {% for item in data %}
        <item>
            <title>{{ item.title }}</title>
            <link>{{ hostname }}{{ item.link }}</link>
            <pubDate>{{ item.attime | date('Y-m-d') }}</pubDate>
            <description><![CDATA[{{ item.body | summarytextbywords(30) }}]]></description>
        </item>
    {% endfor %}
    
</channel>
</rss>
