<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
        xmlns:image="http://www.google.com/schemas/sitemap-image/1.1">
    {% for url in urls %}
        <url>
            {# comprueba que hostname no esté ya incluido en url #}
            <loc>
                {% if url.loc|replace({hostname:''}) == url.loc %}
                    {{ hostname }}{{ url.loc }}
                {% else %}
                    {{ url.loc }}
                {% endif %}
            </loc>
            {% for image in url.images %}
                <image:image>
                    <image:loc>{{ hostname }}{{ image.loc }}</image:loc>
                    {% if image.title != '' %}<image:title>{{ image.title }}</image:title>{% endif %}
                    {% if image.caption != '' %}<image:caption>{{ image.caption }}</image:caption>{% endif %}
                </image:image>
            {% endfor %}
        </url>
    {% endfor %}
</urlset>